# Build folders
[Dd]ebug/
[Rr]elease/
[Oo]ut/
cmake-build*/
build*/

# External dependencies
ext/

# Visual Studio 2015/2017 cache/options directory
.vs/

# JetBrains CLion
.idea/

# Visual Studio 2019 CMake settings json file
CMakeSettings.json
